{% extends 'base.html' %}
{% load static %}

{% block title %}Cart{% endblock %}

{% block content %}
<div class="max-w-6xl mx-auto flex flex-wrap items-start py-6 px-6 xl:px-0">
    <div class="item w-full lg:w-3/4">
        {% for item in cart %}
        {% include 'cart/partials/cart_item.html' %}
        {% endfor %}
    </div>



    <div class="summary w-full lg:w-1/4 p-6 bg-gray-100 rounded-xl mt-3">
        <h2 class="uppercase text-lg mb-5">Summary</h2>

        <div class="mb-6 flex justify-between">
            <span class="font-semibold">Total</span>
            <span hx-get="{% url 'hx_cart_total' %}" hx-trigger="update-menu-cart from:body" hx-swap="innerHTML">
                {% include 'cart/partials/cart_total.html' %}
            </span>
        </div>

        <div class="mb-6 flex justify-between">
            <span class="font-semibold">Balance</span>
            <span class="flex">
                <p class="px-1">{{ user.balance }}</p>
                <img src="{% static 'icons/coin.svg' %}" alt="Icon" class="w-7 h-7">

            </span>
        </div>
        <div>
            {% include 'cart/partials/summary.html' %}
            {% if insufficient_funds %}

            <p class="text-red-500">You have insufficient currency for these items!</p>
            {% endif %}
            {% if empty_cart %}

            <p class="text-red-500">Your cart is empty!</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}