{% extends 'base.html' %}

{% block title %}Checkout{% endblock %}

{% block content %}
<div class="max-w-6xl mx-auto flex flex-wrap items-start py-6 px-6 xl:px-0">
    <div class="item w-full lg:w-3/4">
        <h2 class="py-5 text-xl">Success! You have redeemed the following items:</h2>
        {% for item in cart %}
        {% include 'cart/partials/checkout_item.html' %}
        {% endfor %}
        <h2 class="py-5 text-xl">Your order has been sent to an admin for processing. Your new balance is
            {{user.balance}}.
        </h2>
    </div>

</div>

<a href="{% url 'clear_cart' %}" class="px-8 py-4 rounded-xl bg-purple-500 hover:bg-purple-700 text-white">Back</a>
{% endblock %}