{% load static %}
{% for activity in activities %}
<div class="flex w-full border border-stone-200 hover:bg-stone-50 shadow-sm rounded-xl mb-2 items-center">
    <span class="pl-4 text-stone-400 font-bold uppercase text-xs flex-none">{{ activity.end_date | date:"m/j/y" }}</span>
    <a href="{% url 'activity' activity.pk %}" class="flex-grow p-2 text-stone-700 text-sm truncate">{{ activity.title }}</a>
    <div class="flex flex-row space-x-1 items-center filter grayscale mr-1 flex-none">
        <p class="text-stone-400 text-xs font-extrabold">+ {{ activity.points }}</p>
        <img src="{% static 'icons/right-arrow.svg' %}" alt="Right Arrow Icon" class="w-6 h-6">
    </div>
</div>
{% endfor %}
