{% load static %}
{% for user in users %}
<a href="#" class="flex flex-row w-full md:w-64 mx-auto my-1 p-1 rounded-2xl bg-white shadow-sm">
    <div class="flex flex-grow flex-row space-x-2">
        <div class="w-8 h-8 rounded-full bg-amber-200">
            {% if user.profile_picture %}<img src="{{ user.profile_picture }}" alt="Profile Picture" class="w-8 h-8 rounded-full">{% endif %}
        </div>
        <p class="mt-1.5 pl-1.5">{{ user.first_name }} {{ user.last_name }}</p>
    </div>
    <img src="{% static 'icons/right-arrow.svg' %}" alt="Icon" class="w-5 h-5 my-auto text-stone-950 grayscale" loading="lazy">
</a>
{% endfor %}