{% load static %}
<button id="activity-bookmark-button"
        type="button" 
        hx-post="{% url 'bookmark_activity' activity.pk %}?from_activity_page=true" 
        hx-swap="outerHTML" 
        hx-target="#activity-header"
        {% if not activity.is_active and not request.user in activity.interested_users.all %}
            disabled
        {% elif not activity.is_approved %}
            disabled
        {% elif activity.user_has_participated %}
            disabled
        {% elif not activity.is_active and not activity.user_has_participated and request.user in activity.interested_users.all %}
            hx-confirm="Are you sure? If you remove this activity, you will no longer be able to claim points for it."
        {% endif %} 
        class="{% if not activity.is_active and not request.user in activity.interested_users.all %}
                grayscale
            {% elif activity.user_has_participated %}
                grayscale
            {% endif %} py-2 px-3 border rounded-xl border-amber-400 hover:bg-amber-50 shadow w-auto inline-flex items-center justify-center text-amber-500 text-sm font-extrabold pl-3">
    {% if request.user in activity.interested_users.all and activity.is_active %}
        Participating
        <img src="{% static 'icons/bookmark_saved.svg' %}" alt="Bookmark Icon" class="w-6 h-6 ml-1">
    {% elif not activity.is_active and not activity.user_has_participated and request.user in activity.interested_users.all %}
        <span class="text-red-400 font-extrabold text-base mr-1">✕</span>
        Remove 
    {% elif not activity.is_approved %}
        Participate!
        <img src="{% static 'icons/hourglass.svg' %}" alt="Bookmark Icon" class="w-6 h-6 ml-1">
    {% elif activity.user_has_participated %}
        Participated
        <img src="{% static 'icons/bookmark_saved.svg' %}" alt="Bookmark Icon" class="w-6 h-6 ml-1">
    {% else %}
        Participate!
        <img src="{% static 'icons/bookmark.svg' %}" alt="Bookmark Icon" class="w-6 h-6 ml-1">
    {% endif %}
</button>

