{% load static %}
<button type="button" hx-post="{% url 'bookmark_activity_from_activity' activity.pk %}" hx-swap="outerHTML" {% if not activity.is_active %}disabled{% endif %}
        class="{% if not activity.is_active %}grayscale{% endif %} flex-none p-2 border rounded-xl border-amber-100 hover:bg-amber-50 mb-5 shadow-md">
    <img src="{% if request.user in activity.interested_users.all %}{% static 'icons/bookmark_saved.svg' %}{% else %}{% static 'icons/bookmark.svg' %}{% endif %}" alt="Bookmark Icon" class="w-6 h-6">
</button>
