{% load static %}

<!-- partials/individual_leaderboard.html -->
<div class="space-y-2 mx-3 md:max-w-3xl md:mx-auto md:space-y-3">
    {% now "Y" as current_year %}
    {% now "F" as current_month %}
    {% if date_filter == "all_time" %}
        <h2 class="text-2xl font-extrabold text-center mb-6 text-teal-800">All Time</h2>
    {% elif date_filter == "this_year" %}
        <h2 class="text-2xl font-extrabold text-center mb-6 text-teal-800">{{ current_year }}</h2>
    {% else %}
        <h2 class="text-2xl font-extrabold text-center mb-6 text-teal-800">{{ current_month }} {{ current_year }}</h2>
    {% endif %}
    
    <div class="border-2 {% if selected_leaderboard %}border-{{ selected_leaderboard.leaderboard_color }}-100{% else %} border-teal-100 {% endif %} rounded-2xl">
        {% for user in users %}
        <a href="{% url 'profile' user.user__id %}" class="block">
            <div class="leaderboard-entry flex justify-between items-center border-b px-4 py-4 
                        {% if user.user__id == request.user.id %}
                            border-none {% if selected_leaderboard %}hover:bg-{{ selected_leaderboard.leaderboard_color }}-600 bg-{{ selected_leaderboard.leaderboard_color }}-500{% else %} hover:bg-teal-600 bg-teal-500 {% endif %} text-white font-extrabold 
                        {% else %} 
                        {% if selected_leaderboard %}hover:bg-{{ selected_leaderboard.leaderboard_color }}-100 border-{{ selected_leaderboard.leaderboard_color }}-100{% else %} border-teal-100 hover:bg-teal-100 {% endif %}
                            {% endif %} 
                        {% if forloop.first %}
                            {% if users.count == 1 %}
                                rounded-2xl
                            {% else %}
                                rounded-t-2xl
                            {% endif %}
                        {% elif forloop.last %}
                            rounded-b-2xl 
                        {% endif %}">
                <!-- Wrap user names with an anchor tag linking to their profile -->
                <div class="flex flex-row items-center">
                    <span class="{% if user.user__id == request.user.id %}text-white font-extrabold {% else %} text-teal-500 {% endif %} w-7">#{{ forloop.counter }} </span>
                    <img alt="Profile Picture" src="{% if user.user__profile_picture %}{{ user.user__profile_picture }}{% else %}{% static 'icons/default_profile.svg' %}{% endif %}" class="w-8 h-8 mr-2 rounded-full bg-white border-2 {% if selected_leaderboard %} border-{{ selected_leaderboard.leaderboard_color }}-500 {% else %}border-teal-500{% endif %}" loading="lazy">
                    <span>{{ user.user__first_name }} {{ user.user__last_name }}</span>
                    {% if forloop.counter == 1 %}
                        <span class="text-lg ml-3">👑</span>
                    {% elif forloop.counter == 2 %}
                        <span class="text-xl ml-2">🥈</span>
                    {% elif forloop.counter == 3 %}
                        <span class="text-xl ml-2">🥉</span>
                    {% endif %}
                </div>    
                <div class="font-bold {% if user.user__id == request.user.id %}text-white font-extrabold {% else %} text-amber-500  {% endif %}inline-flex items-center">
                    <img src="{% static 'icons/coin.svg' %}" alt="Coins" class="w-4 h-4 md:w-5 md:h-5 mr-1 opacity-85">
                    {{ user.total_points }}
                </div>
            </div>
        </a>
        {% empty %}
            <p class="text-center font-bold text-stone-500">No users found for the selected criteria.</p>
        {% endfor %}
    </div>  
</div>
