{% load static %}
<div class="p-4 relative">
    <a href="{% url 'item' item.pk %}" class="block rounded-lg shadow shadow-lime-300 group">
        <div class="relative">
            <img src='{{ item.image }}' alt="{{ item.name }}" class="rounded-t-lg w-72 h-72 md:w-56 md:h-56 bg-stone-100" loading="lazy">
            <div class="absolute bottom-0 right-0 flex bg-white border-l border-t border-lime-500 px-2 py-0.5 opacity-90 group-hover:opacity-100 rounded-tl-lg">
                <img src="{% static 'icons/coin.svg' %}" alt="Icon" class="w-5 h-5 my-auto">
                <p class="font-extrabold ml-1 text-amber-700">{{ item.price }}</p>
            </div>
        </div>
        <div class="flex w-72 md:w-56 h-16 bg-lime-50 rounded-b-lg border-t border-lime-400 group-hover:bg-white">
            <p class="p-2 m-auto text-center ">{{item.name}}</p>
        </div>  
    </a>

    <div class="absolute top-0 right-0 bg-lime-500 rounded-full hover:bg-lime-600 w-10">
        {% if request.user.is_staff %}
            <button type="button" 
                    onclick="openStoreKebab({{ item.pk }});"
                    class="kebab-button h-10 w-10 p-2 filter align-middle" aria-expanded="true"
                    aria-haspopup="true" aria-label="Activity kebab menu">
                <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="#ffffff"
                    class="bi bi-three-dots-vertical" stroke="#ffffff">
                    <g id="SVGRepo_bgCarrier" stroke-width="0" />
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />
                    <g id="SVGRepo_iconCarrier">
                        <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                    </g>
                </svg>
            </button>
            <ul id="kebab-menu-store-{{ item.pk }}" class="kebab-menu hidden absolute right-0 mt-1 bg-white cursor-pointer rounded-2xl border border-lime-600 shadow-md text-stone-600 font-bold w-auto min-w-max z-20">
                <li hx-get="{% url 'add_to_cart' item.pk %}" 
                    hx-target="#menu-cart-button" 
                    hx-swap="outerHTML"
                    class="flex items-center hover:bg-lime-500 hover:text-white px-4 py-2 rounded-t-2xl">
                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                        class="h-5 w-5 mr-2 stroke-current">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                        <g id="SVGRepo_iconCarrier"> <path d="M6 12H18M12 6V18" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> </g>
                    </svg>
                    <span>add to cart</span>
                </li>
                <li hx-get="{% url 'edit_item_form' item.pk %}" 
                    hx-target=".htmx-body" 
                    hx-push-url="true"
                    class="flex items-center hover:bg-lime-500 hover:text-white px-4 py-2">
                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                        class="h-5 w-5 mr-2 stroke-current">
                        <g id="SVGRepo_bgCarrier" stroke-width="0" />
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />
                        <g id="SVGRepo_iconCarrier">
                            <path d="M21.2799 6.40005L11.7399 15.94C10.7899 16.89 7.96987 17.33 7.33987 16.7C6.70987 16.07 7.13987 13.25 8.08987 12.3L17.6399 2.75002C17.8754 2.49308 18.1605 2.28654 18.4781 2.14284C18.7956 1.99914 19.139 1.92124 19.4875 1.9139C19.8359 1.90657 20.1823 1.96991 20.5056 2.10012C20.8289 2.23033 21.1225 2.42473 21.3686 2.67153C21.6147 2.91833 21.8083 3.21243 21.9376 3.53609C22.0669 3.85976 22.1294 4.20626 22.1211 4.55471C22.1128 4.90316 22.0339 5.24635 21.8894 5.5635C21.7448 5.88065 21.5375 6.16524 21.2799 6.40005V6.40005Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M11 4H6C4.93913 4 3.92178 4.42142 3.17163 5.17157C2.42149 5.92172 2 6.93913 2 8V18C2 19.0609 2.42149 20.0783 3.17163 20.8284C3.92178 21.5786 4.93913 22 6 22H17C19.21 22 20 20.2 20 18V13" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </g>
                    </svg>
                    <span>edit</span>
                </li>
                <li hx-post="{% url 'delete_item' item.pk %}" 
                    hx-confirm="Are you sure you want to delete this item?"
                    hx-target=".htmx-body"
                    class="flex items-center hover:bg-lime-500 hover:text-white px-4 py-2 rounded-b-2xl">
                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                        class="h-5 w-5 mr-2 stroke-current">
                        <g id="SVGRepo_bgCarrier" stroke-width="0" />
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />
                        <g id="SVGRepo_iconCarrier">
                            <path d="M9.00195 7C9.01406 4.82497 9.11051 3.64706 9.87889 2.87868C10.7576 2 12.1718 2 15.0002 2L16.0002 2C18.8286 2 20.2429 2 21.1215 2.87868C22.0002 3.75736 22.0002 5.17157 22.0002 8L22.0002 16C22.0002 18.8284 22.0002 20.2426 21.1215 21.1213C20.2429 22 18.8286 22 16.0002 22H15.0002C12.1718 22 10.7576 22 9.87889 21.1213C9.11051 20.3529 9.01406 19.175 9.00195 17" stroke-width="1.5" stroke-linecap="round" />
                            <path d="M15 12L2 12M2 12L5.5 9M2 12L5.5 15" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </g>
                    </svg>
                    <span>delete</span>
                </li>
            </ul>
        {% else %}
            <button type="button" 
                    hx-get="{% url 'add_to_cart' item.id %}" 
                    hx-target="#menu-cart-button" 
                    hx-swap="outerHTML"
                    class="kebab-button h-10 w-10 text-white text-2xl font-extrabold flex items-center justify-center" 
                    aria-expanded="true"
                    aria-haspopup="true" 
                    aria-label="Activity kebab menu">
                +
            </button>
        {% endif %}
    </div>
</div>