{% load static %}
<!-- partials/team_leaderboard.html -->
<div class="space-y-2 mx-3 md:max-w-3xl md:mx-auto md:space-y-3">
    {% now "Y" as current_year %}
    {% now "F" as current_month %}
    {% if date_filter == "all_time" %}
        <h2 class="text-2xl font-extrabold text-center mb-6 text-teal-800">All Time</h2>
    {% elif date_filter == "this_year" %}
        <h2 class="text-2xl font-extrabold text-center mb-6 text-teal-800">{{ current_year }}</h2>
    {% else %}
        <h2 class="text-2xl font-extrabold text-center mb-6 text-teal-800">{{ current_month }} {{ current_year }}</h2>
    {% endif %}
    
    {% for team in teams %}
    <a href="{% url 'team_detail' team.id %}" class="block">
        <div class="flex justify-between items-center px-4 py-2 bg-white rounded-2xl shadow border border-teal-300 hover:bg-teal-100">
            <div class="flex flex-col flex-grow">
                <h3 class="text-lg font-bold"><span class="text-teal-500 mr-1">#{{ forloop.counter }}</span>{{ team.name }}</h3>
                <p class="text-xs inline-flex">
                    Lead: <span class="font-bold ml-1">{{ team.leader.first_name }} {{ team.leader.last_name }}</span>
                </p>
                <p class="text-xs"><span class="font-bold">{{ team.member.count|add:"-1" }}</span> teammates</p>
            </div>
            <div class="font-bold text-amber-500 inline-flex items-center">
                <img src="{% static 'icons/coin.svg' %}" alt="Icon" class="w-4 h-4 md:w-5 md:h-5 mr-1 opacity-85">
                {{ team.team_points }}
            </div>
        </div>
    </a>
    {% empty %}
        <p class="text-center font-bold text-stone-500">No teams found for the selected criteria.</p>
    {% endfor %}
    <!-- view all teams button-->
    <div class="flex justify-center mt-6">
        <button hx-get="{% url 'list_teams' %}" hx-push-url="true" hx-target=".htmx-body" class="bg-teal-400 hover:bg-teal-500 text-white font-bold py-2 px-4 mt-10 mb-6 rounded-2xl">View all teams</button>
    </div>
</div>


