<div class="items mb-6 flex pr-6" id="cart-item-{{ item.item.id }}">
    <a href="#" class="w-1/4">
        <img class="hover:shadow-lg rounded-xl" src="{{ item.item.image }}">
    </a>

    <div class="w-3/4 pl-6">
        <div class="flex justify-between">
            <a href="#" class="text-lg">{{item.item.name}}</a>

            <span class="mb-6 pt-1 text-gray-600">{{item.total_price | floatformat:0}}</span>
        </div>

        <hr>

        <div class="quantity mt-6 flex items-center space-x-4">
            <a class="p-3 bg-gray-100 cursor-pointer" hx-get="{% url 'update_cart' item.item.id 'decrement' %}"
                hx-target="#cart-item-{{ item.item.id }}" hx-swap="outerHTML">-</a>
            <span>{{ item.quantity }}</span>
            <a class="p-3 bg-gray-100 cursor-pointer" hx-get="{% url 'update_cart' item.item.id 'increment' %}"
                hx-target="#cart-item-{{ item.item.id }}" hx-swap="outerHTML">+</a>
        </div>
    </div>
</div>