{% extends "base.html" %}
{% load static %}

{% block title %}{{ activity.title }}{% endblock %}

{% block content %}
{% include 'partials/activity_header.html' %}
<div class=" {% if not activity.is_active %}grayscale{% endif %}">
    {% if activity.leaderboards.all %}
    <div class="flex justify-center space-x-1">
        {% for leaderboard in activity.leaderboards.all %}
            <a href="{% url 'leaderboard' %}?leaderboard_id={{ leaderboard.pk }}&date_filter=this_month" class="bg-{{ leaderboard.leaderboard_color }}-500 hover:bg-{{ leaderboard.leaderboard_color }}-600 px-3 py-1 rounded-xl font-extrabold text-white text-xs">{{ leaderboard.leaderboard_name }}</a>
        {% endfor %}
    </div>
    {% endif %}

    <div class="flex justify-center mt-5">
        {% if activity.event_date|date:"d M" == activity.end_date|date:"d M" %}
            <div class="flex flex-col border-amber-100 bg-amber-50 px-6 py-4 border rounded-2xl">
                <p class="text-center font-extrabold text-2xl text-amber-800">{{ activity.event_date | date:"d M" }}</p>
                <div class="flex items-center space-x-1">
                    <p class="text-sm">{{ activity.event_date | date:"g:iA" }}</p> <!-- Format time -->
                    <div class="text-2xl text-stone-500 self-center">
                        <span>-</span>
                    </div>
                    <p class="text-sm">{{ activity.end_date | date:"g:iA" }}</p> <!-- Format time -->
                </div>
            </div>
        {% else %}
        <div class="flex items-center space-x-3 border-amber-100 bg-amber-50 px-6 py-4 border rounded-2xl">
            <div class="text-center">
                <p class="font-extrabold text-2xl text-amber-800">{{ activity.event_date | date:"d M" }}</p> <!-- Format date -->
                <p class="text-sm">{{ activity.event_date | date:"g:iA" }}</p> <!-- Format time -->
            </div>
            <div class="text-2xl text-stone-500 self-center">
                <span>-</span>
            </div>
            <div class="text-center">
                <p class="font-extrabold text-2xl text-amber-800">{{ activity.end_date | date:"d M" }}</p> <!-- Format date -->
                <p class="text-sm">{{ activity.end_date | date:"g:iA" }}</p> <!-- Format time -->
            </div>
        </div>
        {% endif %}
    </div>
</div>

<a href="https://www.google.com/maps/search/?api=1&query={{ activity.latitude }},{{ activity.longitude }}" class="relative flex justify-center items-center bg-stone-100 mt-8 md:rounded-2xl h-72">
    <img 
        src="https://api.mapbox.com/styles/v1/mapbox/streets-v12/static/pin-l+e85151({{ activity.longitude }},{{ activity.latitude }})/{{ activity.longitude }},{{ activity.latitude }},15.2,0/1152x288@2x?access_token=pk.eyJ1IjoiYm9nenoiLCJhIjoiY2x0MHB3MWF6MTJhZzJqbnVmaHo0Zm02dyJ9.oLRkcd4glERtMB4NMudd7w"
        class="w-full h-full mx-0 md:mx-2 md:rounded-2xl object-cover object-center"
        loading="lazy"
        alt="Activity location map">
    <span class="right-1.5 bottom-1.5 z-10 absolute bg-amber-300 px-2 py-1 md:px-4 md:py-2 text-sm md:text-base rounded-2xl font-bold text-stone-600">
        @ {{ activity.address }}
    </span>
</a>

<p class="my-10 text-md md:text-lg px-6 text-center">{{ activity.description }}</p>

{% if other_interested_users.all %}
<div class="{% if activity.photo %}mb-10{% else %}mb-16{% endif %} p-3 bg-amber-100 border border-amber-200 md:rounded-2xl md:w-fit max-w-full md:min-w-96 mx-auto">
    <p class="font-semibold text-amber-700 text-sm mb-3 text-center">{% if activity.is_active %}Also participating:{% else %}Also participated:{% endif %}</p>
    <div id="users-list" class="flex flex-wrap md:space-x-3 text-sm px-2 md:text-md">
        {% with users=other_interested_users.all|slice:":8" %}
            {% include 'partials/additional_users.html' %}
        {% endwith %}
    </div>
    {% if other_interested_users.all|length > 8 %}
        <div class="flex justify-center items-center pt-5">
            <button class="show-more-button font-semibold text-amber-400 text-sm" hx-get="{% url 'additional_users' activity.pk %}" hx-target="#users-list" hx-swap="beforeend"  hx-on:htmx:after-request="this.remove()">Show all</button>
        </div>
    {% endif %}
</div>
{% endif %}

{% if activity.photo %}
<div class="flex justify-center items-center rounded-2xl">
    <img src="{{ activity.photo }}" alt="Activity Image" class="md:rounded-2xl max-w-full md:max-h-96 mb-16 bg-stone-100" loading="lazy">
</div>
{% endif %}

<p class="absolute bottom-0 left-1/2 transform -translate-x-1/2 text-slate-400 text-xs text-center"><span class="italic">Created by:</span> {{ activity.creator.email }} on {{ activity.created_at }}</p>
<audio class="award-points-sound hidden" src="{% static 'coins.ogg' %}" type="audio/ogg"></audio>
{% endblock %}

{% block scripts %}
<script defer>
function awardPoints() {
    // play sound effect when clicking on the award points button
    const audio = document.querySelector('.award-points-sound')
    audio.play()
    var scalar = 1.5;
    var unicorn = confetti.shapeFromText({ text: '🪙', scalar });
    var defaults = {
        spread: 80,
        ticks: 200,
        gravity: 6,
        decay: 0.97,
        startVelocity: 20,
        shapes: [unicorn],
        scalar,
        origin: { // originate from button
            x: event.clientX / window.innerWidth,
            // since they fall down, start a bit higher than random
            y: event.clientY / window.innerHeight
        }
    };
    function shoot() {
        confetti({
            ...defaults,
            particleCount: 10
        });

        confetti({
            ...defaults,
            particleCount: 10,
            flat: true
        });
    }
    setTimeout(shoot, 0);
    setTimeout(shoot, 50);  
}   
</script>  
{% endblock %}