{% extends "base.html" %}

{% block head %}
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v3.1.0/mapbox-gl.js"></script>
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v3.1.0/mapbox-gl.css" rel="stylesheet"/>
{% endblock %}

{% block title %}Activity{% endblock %}

{% block content %}
<div class="flex items-center justify-center h-72 mt-4">
    <div id="map" class="w-full h-full rounded-2xl cursor-pointer"></div>
</div>
{% endblock %}

{% block scripts %}
<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiYm9nenoiLCJhIjoiY2x0MHB3MWF6MTJhZzJqbnVmaHo0Zm02dyJ9.oLRkcd4glERtMB4NMudd7w';
    const map = new mapboxgl.Map({
        container: 'map',
        center: [-114.01, 46.872], // Use your coordinates here
        zoom: 15,
        interactive: false,
    });

    // Add a marker to the map
    new mapboxgl.Marker({ "color": "#e85151" })
        .setLngLat([-114.01, 46.872]) // Use your coordinates here
        .addTo(map);

    // Redirect to Google Maps upon clicking the map
    map.on('click', function() {
        window.location.href = `https://www.google.com/maps/search/?api=1&query=46.872%2C-114.01`; // Use your coordinates here
    });
</script>
{% endblock %}
    