{% extends "base.html" %}
{% load static %}

{% block title %}{{ activity.title }}{% endblock %}

{% block content %}
<!-- add a back button, maybe? -->
<!-- <button onclick="window.history.back()">go back</button> -->

<div class="flex md:flex-row flex-col justify-center items-center md:space-x-4 pt-12 px-2">
    <h1 class="mb-5 font-extrabold text-4xl md:text-5xl text-center {% if not activity.is_active %} text-stone-400{% endif %}">{{ activity.title }}</h1>
    <div class="flex flex-row mb-6 space-x-2">
        {% include 'partials/bookmark_button.html' %}
        {% if request.user.is_staff %}
            <button hx-post="{% url 'edit_activity' activity.pk %}" hx-replace-url="true" hx-swap="outerHTML" hx-target=".htmx-body" class="p-2 border rounded-xl border-amber-200 hover:bg-amber-50 shadow-md">
                <img src="{% static 'icons/edit.svg' %}" alt="Edit Icon" class="w-6 h-6">
            </button>
            <button hx-delete="{% url 'delete_activity' activity.pk %}" hx-confirm="Are you sure you want to delete this activity?" hx-swap="outerHTML" hx-target=".htmx-body" class="p-2 border rounded-xl border-rose-200 hover:bg-rose-50 shadow-md">
                <img src="{% static 'icons/delete.svg' %}" alt="Delete Icon" class="w-6 h-6">
            </button>
        {% endif %}
    </div>
</div>

{% if not activity.is_approved %}
    <div class="flex justify-center items-center mb-6">
        <span class="px-4 py-1 bg-rose-300 font-extrabold text-sm text-white rounded-2xl">NOT YET APPROVED</span>
    </div>
{% endif %}

{% if request.user in activity.interested_users.all and not user_has_participated and not activity.is_active %}
    <div id="points-button-container" class="flex justify-center items-center mb-5">
        <button type="button"
            name="award_points_from_activity_page"
            hx-post="{% url 'award_participation_points' activity.pk %}?from_activity_page=true" 
            hx-swap="outerHTML transition:true" 
            hx-target="#points-button-container" 
            onclick="awardPoints()"
            class="award-points-button group flex items-center justify-center space-x-1 border border-amber-100 shadow-md px-2 py-1 rounded-xl hover:bg-amber-300 hover:border-amber-300">
            <img src="{% static 'icons/coin.svg' %}" alt="Icon" class="w-7 h-7">
            <span class="text-yellow-500 font-bold text-2xl group-hover:text-white">{{ activity.points }}</span>
        </button>
    </div>
{% else %}
    {% include 'partials/points_display.html' %}
{% endif %}

<div class=" {% if not activity.is_active %}grayscale{% endif %}">
    {% if activity.leaderboards.all %}
    <div class="flex justify-center space-x-1">
        {% for leaderboard in activity.leaderboards.all %}
            <a href="{% url 'individual_leaderboard' %}?leaderboard_id={{ leaderboard.pk }}&date_filter=this_month" class="bg-amber-500 hover:bg-amber-600 px-3 py-1 rounded-xl font-extrabold text-white text-xs">{{ leaderboard.leaderboard_name }}</a>
        {% endfor %}
    </div>
    {% endif %}

    <div class="flex justify-center mt-5">
        <div class="flex items-center space-x-3 border-amber-200 bg-amber-50 px-6 py-4 border rounded-2xl">
            <div class="text-center">
                <p class="font-extrabold text-xl text-stone-500">{{ activity.event_date | date:"d M" }}</p> <!-- Format date -->
                <p class="text-sm">{{ activity.event_date | date:"g:iA" }}</p> <!-- Format time -->
            </div>
            <div class="text-2xl text-stone-500 self-center">
                <span>-</span>
            </div>
            <div class="text-center">
                <p class="font-extrabold text-xl text-stone-500">{{ activity.end_date | date:"d M" }}</p> <!-- Format date -->
                <p class="text-sm">{{ activity.end_date | date:"g:iA" }}</p> <!-- Format time -->
            </div>
        </div>
    </div>
</div>

<a href="https://www.google.com/maps/search/?api=1&query={{ activity.latitude }},{{ activity.longitude }}" class="relative flex justify-center items-center bg-slate-100 mt-8 md:rounded-2xl h-72">
    <img 
        src="https://api.mapbox.com/styles/v1/mapbox/streets-v12/static/pin-l+e85151({{ activity.longitude }},{{ activity.latitude }})/{{ activity.longitude }},{{ activity.latitude }},15.2,0/1152x288@2x?access_token=pk.eyJ1IjoiYm9nenoiLCJhIjoiY2x0MHB3MWF6MTJhZzJqbnVmaHo0Zm02dyJ9.oLRkcd4glERtMB4NMudd7w"
        class="w-full h-full mx-0 md:mx-2 md:rounded-2xl object-cover object-center">
    <span class="right-1.5 bottom-1.5 z-10 absolute bg-amber-300 px-2 py-1 md:px-4 md:py-2 text-sm md:text-base rounded-2xl font-bold text-stone-600">
        @ {{ activity.address }}
    </span>
</a>

<p class="my-10 text-md md:text-lg px-6 text-center">{{ activity.description }}</p>

{% if other_interested_users.all %}
<div class="mb-10 mx-4 p-3 bg-stone-50 rounded-2xl">
    <p class="font-semibold text-stone-500 text-sm mb-3 text-center">{% if activity.is_active %}Also participating:{% else %}Also participated:{% endif %}</p>
    <div id="users-list" class="grid grid-cols-1 md:grid-cols-4 gap-2 text-sm px-2 md:text-md">
        {% with users=other_interested_users.all|slice:":8" %}
            {% include 'partials/additional_users.html' %}
        {% endwith %}
    </div>
    {% if other_interested_users.all|length > 8 %}
        <div class="flex justify-center items-center pt-5">
            <button class="show-more-button font-semibold text-stone-400 text-sm" hx-get="{% url 'additional_users' activity.pk %}" hx-target="#users-list" hx-swap="beforeend transition:true"  hx-on:htmx:after-request="this.remove()">Show all</button>
        </div>
    {% endif %}
</div>
{% endif %}

{% if activity.photo %}
<div class="flex justify-center items-center rounded-2xl">
    <img src="{{ activity.photo }}" alt="Activity Image" class="md:rounded-2xl max-w-full md:max-h-96 mb-16" loading="lazy">
</div>
{% endif %}

<div class="absolute bottom-0 w-full">
    <p class="text-slate-400 text-xs text-center"><span class="italic">Created by:</span> {{ user.email }} on {{ activity.created_at }}</p>
</div>
<audio class="award-points-sound hidden" src="{% static 'coins.ogg' %}" type="audio/ogg"></audio>
{% endblock %}

{% block scripts %}
<script defer>
function awardPoints() {
    // play sound effect when clicking on the award points button
    const audio = document.querySelector('.award-points-sound')
    audio.play()
    console.log('Awarded points!')
}   
</script>  
{% endblock %}