{% extends "base.html" %}
{% load static %}

{% block title %}Add Activity{% endblock %}

{% block content %}
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v3.1.0/mapbox-gl.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/tom-select/dist/css/tom-select.css" rel="stylesheet">
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css' type='text/css' />

    <div class="flex flex-row space-x-3 mx-3 justify-center pt-12 mb-4">
        <a href="{% url 'home' %}">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="fill-amber-500 shadow-md h-12 w-12 border border-amber-500 rounded-2xl align-middle p-1 hover:bg-amber-100">
                <title>Back</title>
                <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                <g id="SVGRepo_iconCarrier"> <path d="M4 10L3.29289 10.7071L2.58579 10L3.29289 9.29289L4 10ZM21 18C21 18.5523 20.5523 19 20 19C19.4477 19 19 18.5523 19 18L21 18ZM8.29289 15.7071L3.29289 10.7071L4.70711 9.29289L9.70711 14.2929L8.29289 15.7071ZM3.29289 9.29289L8.29289 4.29289L9.70711 5.70711L4.70711 10.7071L3.29289 9.29289ZM4 9L14 9L14 11L4 11L4 9ZM21 16L21 18L19 18L19 16L21 16ZM14 9C17.866 9 21 12.134 21 16L19 16C19 13.2386 16.7614 11 14 11L14 9Z" /> </g>
            </svg>
        </a>
        <h1 class="text-4xl md:text-5xl font-extrabold my-auto">{% if request.user.is_staff %}Add Activity{% else %}Suggest an Activity{% endif %}</h1>
    </div>

    <form hx-post="{% url 'new_activity' %}" hx-indicator=".loading-bar" hx-target=".htmx-body" hx-disabled-elt="button" enctype="multipart/form-data" class="px-4 lg:px-0">
        {% csrf_token %}
        <div class="flex flex-col md:flex-row md:space-x-4">
            <input type="text" name="title" placeholder="Title" required autofocus class=" focus:border-amber-400 focus:outline-none focus:ring-0 px-4 py-2 my-2 border border-gray-300 rounded-2xl text-2xl w-full md:w-auto md:flex-grow h-14">
            <div class="inline-flex">
                <input type="number" min="50" max="1000" name="points" placeholder="0" required class="focus:border-amber-400 focus:outline-none focus:ring-0 text-yellow-500 placeholder-yellow-500 px-4 py-2 my-2 border border-r-0 border-gray-300 rounded-l-2xl text-4xl w-full md:w-36 h-14">
                <img src="{% static 'icons/coin.svg' %}" class="h-14 w-14 my-auto border border-amber-400 p-2 rounded-r-2xl bg-amber-200">
            </div>
        </div>
        
        <!-- TomSelect input that allows for selecting one or more leaderboards from the Leaderboard model, and allows typing in a new leaderboard name -->
        <select id="select-leaderboard" name="leaderboards" multiple placeholder="Contributes to which leaderboards? (3 max.)" autocomplete="on" class="px-4 py-2 my-2 border border-gray-300 rounded-2xl w-full h-14">
            {% for leaderboard in leaderboards %}
                <option value="{{ leaderboard.leaderboard_name }}">{{ leaderboard.leaderboard_name }}</option>
            {% endfor %}
        </select>

        <div class="flex md:flex-row flex-col md:space-x-4 justify-center py-2 my-2">
            <div class="flex flex-col justify-center">
                <label for="event_date" class="text-sm font-bold text-gray-700 text-center">Event Time/Date</label>
                <input type="datetime-local" id="event_date" name="event_date" class="px-4 py-2 my-2 border border-gray-300 rounded-2xl w-full md:w-auto focus:border-amber-400 focus:outline-none focus:ring-0">
            </div>
            <div class="flex flex-col">
                <label for="end_date" class="text-sm font-bold text-gray-700 text-center">End Time/Date</label>
                <input type="datetime-local" id="end_date" name="end_date" class="px-4 py-2 my-2 border border-gray-300 rounded-2xl w-full md:w-auto focus:border-amber-400 focus:outline-none focus:ring-0">
            </div>
        </div>     

        <div class="flex items-center justify-center h-72 my-2 rounded-2xl bg-slate-100">
            <div id="map" class="w-full h-full rounded-2xl"></div>
        </div>

        <input type="hidden" name="address" id="addressField" value="Cognizant Office">
        <input type="hidden" name="latitude" id="latitudeField">
        <input type="hidden" name="longitude" id="longitudeField">
        
        <textarea name="description" placeholder="Description" required class="px-4 py-2 my-2 border border-gray-300 rounded-2xl w-full h-28 md:h-20 focus:border-amber-400 focus:outline-none focus:ring-0"></textarea>     
        
        <label class="drag-drop flex justify-center h-auto px-4 py-8 mb-8 border border-dashed border-gray-500 rounded-2xl cursor-pointer text-gray-500 bg-white hover:bg-gray-50">
            <input type="file" name="photo" id="fileInput" class="hidden" accept="image/x-png,image/jpeg,image/gif,image/jpg,image/heic,image/heif,image/webp">
            <span id="imageDropped" class="inline-flex">Upload image for activity</span>
        </label>

        {% if request.user.is_staff %}
        <div class="flex mb-12 bg-rose-100 rounded-2xl p-4 w-fit mx-auto">
            <label class="cursor-pointer text-rose-700">
                <input type="checkbox" name="alert" class="before:checked:bg-rose-700">
                Email all users about this activity?
            </label>
        </div>
        {% endif %}
        <div class="flex justify-center my-6">
            <button type="submit" class="w-full md:w-80 px-4 py-4 bg-amber-300 text-white font-bold rounded-2xl shadow-lg hover:bg-amber-400">Add activity</button>
        </div>
    </form>
{% endblock %}

{% block scripts %}
<script defer>
document.getElementById('event_date').addEventListener('change', (e) => {
    const eventStart = new Date(e.target.value);
    const eventEnd = new Date(eventStart.getTime() + 3600000);
    document.getElementById('end_date').value = formatDateTime(eventEnd);
});

if (typeof mapboxgl === 'undefined' || typeof MapboxGeocoder === 'undefined') {
    var maboxglScript = document.createElement('script');
    maboxglScript.onload = function() {
        mapboxgl.accessToken = 'pk.eyJ1IjoiYm9nenoiLCJhIjoiY2x0MHB3MWF6MTJhZzJqbnVmaHo0Zm02dyJ9.oLRkcd4glERtMB4NMudd7w';
        initializeMap();
    };
    maboxglScript.src = 'https://api.tiles.mapbox.com/mapbox-gl-js/v3.1.0/mapbox-gl.js';
    document.head.appendChild(maboxglScript);

    let searchJS = document.createElement('script')
    searchJS.src = 'https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js'
    document.head.appendChild(searchJS)
} else {
    // Mapbox GL JS is already loaded, just initialize the map
    initializeMap();
}

if (typeof TomSelect === 'undefined') {
    var tomSelectScript = document.createElement('script');
    tomSelectScript.onload = function() {
        var tomSelectInstance = new TomSelect('#select-leaderboard', {
            create: {% if not request.user.is_staff %}false{% else %}true{% endif %},
            plugins: ['remove_button'],
            maxItems: 3,
            hidePlaceholder: true,
            createFilter: function (input) {
                input = input.toLowerCase();
                return !(input in this.options);
            }
        });
    };
    tomSelectScript.src = 'https://cdn.jsdelivr.net/npm/tom-select/dist/js/tom-select.complete.min.js';
    document.head.appendChild(tomSelectScript);
} else {
    var tomSelectInstance = new TomSelect('#select-leaderboard', {
        create: {% if not request.user.is_staff %}false{% else %}true{% endif %},
        plugins: ['remove_button'],
        maxItems: 3,
        hidePlaceholder: true,
        createFilter: function (input) {
            input = input.toLowerCase();
            return !(input in this.options);
        }
    });
}

function initializeMap() {
    const map = new mapboxgl.Map({
        cooperativeGestures: true,
        container: 'map',
        center: [-114.01, 46.872],
        zoom: 15.2,
        scrollZoom: {around: 'center'},
        touchZoomRotate: {around: 'center'},
        style: 'mapbox://styles/mapbox/streets-v12',
    })

    // Add the control to the map.
    map.addControl(
        new MapboxGeocoder({
            accessToken: mapboxgl.accessToken,
            mapboxgl: mapboxgl,
            marker: false,
            proximity: {
                longitude: -114.01,
                latitude: 46.872
            },
            placeholder: "Where's it happening?",
        }), 'top-left'
    );
    geocoder = document.querySelector('.mapboxgl-ctrl-geocoder--input')
    geocoder.value = "Cognizant Office"
    map.addControl(new mapboxgl.FullscreenControl(), 'bottom-right')

    
    let markerLocation = map.getCenter()
    const marker = new mapboxgl.Marker({ "color": "#e85151" })
        .setLngLat(markerLocation)
        .addTo(map)

    map.on(`move`, (e) => {
        markerLocation = map.getCenter()
        marker.setLngLat(markerLocation)
    })

    map.on(`load`, (e) => {
        markerLocation = map.getCenter()
        document.getElementById('longitudeField').value = markerLocation.lng
        document.getElementById('latitudeField').value = markerLocation.lat
    })

    map.on(`moveend`, (e) => {
        markerLocation = map.getCenter()
        console.log(markerLocation)
        searchBox = document.querySelector('.mapboxgl-ctrl-geocoder--input')
        console.log(searchBox.value.split(',')[0])

        // Set the values of the hidden fields
        document.getElementById('addressField').value = searchBox.value.split(',')[0]
        document.getElementById('longitudeField').value = markerLocation.lng;
        document.getElementById('latitudeField').value = markerLocation.lat;
    })
} 
    
function formatDateTime(date) {
    const formattedDate = new Date(date.getTime() - (date.getTimezoneOffset() * 60000)).toISOString();
    return formattedDate.substring(0, 16); // Trim to match the datetime-local format (YYYY-MM-DDTHH:MM)
}

// if this is the add_activity page:
function initializeAddActivity() {
    if (document.getElementById('imageDropped') === null) return
    // Get current date and time plus 1 hour
    const now = new Date()
    now.setHours(now.getHours() + 1)
    const rightnow = new Date()
    // Format current date/time for datetime-local input
    const eventStart = formatDateTime(now);

    // Calculate tomorrow's date by adding one day to the current date
    now.setHours(now.getHours() + 1);
    // Format tomorrow's date/time for datetime-local input
    const eventEnd = formatDateTime(now);

    // Set the values of the input fields
    let startDateField = document.getElementById('event_date')
    startDateField.value = eventStart;
    startDateField.min = formatDateTime(rightnow)
    let endDateField = document.getElementById('end_date')
    endDateField.value = eventEnd;
    endDateField.min = eventStart

    // DRAG AND DROG FILE UPLOAD
    const dropArea = document.querySelector('.drag-drop');
    const fileLabel = document.getElementById('imageDropped');
    const fileInput = document.getElementById('fileInput');
    fileInput.addEventListener('change', function() {
        // Check if files were selected
        if (fileInput.files.length > 0) {
            // Update the label with the name of the first selected file
            fileLabel.textContent = fileInput.files[0].name;
            dropArea.classList.add('drag-over');
        }
    });

    // Highlight drop area when file is dragged over it
    ['dragenter', 'dragover'].forEach(eventName => {
        dropArea.addEventListener(eventName, highlight, false);
    });

    // Unhighlight drop area when dragging leaves it or drops
    ['dragleave', 'drop'].forEach(eventName => {
        dropArea.addEventListener(eventName, unhighlight, false);
    });

    // Prevent default behavior (prevent file from being opened)
    dropArea.addEventListener('dragover', preventDefaults, false);
    dropArea.addEventListener('dragenter', preventDefaults, false);
    dropArea.addEventListener('dragleave', preventDefaults, false);
    dropArea.addEventListener('drop', preventDefaults, false);

    // Handle dropped files
    dropArea.addEventListener('drop', handleDrop, false);

    function preventDefaults(e) {
        e.preventDefault();
        e.stopPropagation();
    }

    function highlight(e) {
        dropArea.classList.add('drag-over');
    }

    function unhighlight(e) {
        dropArea.classList.remove('drag-over');
    }

    function handleDrop(e) {
        const dt = e.dataTransfer;
        const files = dt.files;

        // Call a function to handle the files
        // For this example, we'll just pass it to the input
        fileInput.files = files;

        // Optionally, you can emit a change event on the input
        // if you need to trigger any 'change' event listeners
        const event = new Event('change', { bubbles: true });
        fileInput.dispatchEvent(event);
        fileLabel.innerText = files[0].name;
        dropArea.classList.add('drag-over');
    }
}

initializeAddActivity();
</script>
{% endblock %}