{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="An employee portal for rewarding community engagement at Cognizant, Missoula MT.">
    <meta name="htmx-config" content='{"scrollIntoViewOnBoost" : "false", "scrollBehavior" : "auto"}'>
    {% tailwind_preload_css %}
    {% tailwind_css %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <script src="{% static 'js/htmx.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="icon" href="{% static 'favicons/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicons/site.webmanifest' %}">
    <script defer src="https://analytics.us.umami.is/script.js" data-website-id="ade660ba-250f-4b24-b52b-3b673bce57f0"></script>
    <script src="{% static 'js/confetti.browser.min.js' %}"></script>
    <!-- <script src="https://unpkg.com/htmx.org/dist/ext/debug.js"></script> -->
    
    {% block head %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body hx-boost="true" class="htmx-body" hx-swap="transition:true" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-indicator=".loading-bar"> 
    <div class="loading-bar"></div>
    <div class="max-w-6xl mx-auto w-full min-h-lvh relative">
        {% if current_section == 'home' %}
            <meta name="theme-color" content="#fbbf24">
        {% elif current_section == 'leaderboard' %}
            <meta name="theme-color" content="#22d3ee">
        {% elif current_section == 'profile' %}
            <meta name="theme-color" content="#fb7185">
        {% elif current_section == 'store' %}
            <meta name="theme-color" content="#a3e635">
        {% elif current_section == 'notifications' %}
            <meta name="theme-color" content="#a78bfa">
        {% elif request.path == 'offline' %}
            <meta name="theme-color" content="#000000">
        {% endif %}
        
        {% block content %}
        {% endblock %}
    </div>
    {% if user.is_authenticated or request.path == '/offline/' %} 
        {% include 'partials/navigation.html' %}
    {% endif %}
</body>
{% block scripts %}
{% endblock %}
<script defer>
    if (typeof navbar === 'undefined') {
        let lastScrollTop = 0; // store the last scroll position
        const navbar = document.querySelector('#navDock');
        const scrollThreshold = 200; // the threshold in pixels before hiding/showing the navbar
        let accumulatedScroll = 0; // tracks accumulated scroll distance since last direction change
        window.addEventListener('scroll', function() {
            let currentScroll = window.pageYOffset || document.documentElement.scrollTop;
            let scrollDelta = currentScroll - lastScrollTop; // tifference since last scroll
            let isAtBottom = window.innerHeight + window.pageYOffset >= document.documentElement.offsetHeight;
            // check for scroll direction change
            if (Math.sign(scrollDelta) !== Math.sign(accumulatedScroll)) {
                accumulatedScroll = 0; // reset accumulated scroll when direction changes
            }
            accumulatedScroll += scrollDelta; // accumulate scroll in the current direction
            // scrolling down and passed threshold, but not at the bottom
            if (accumulatedScroll > scrollThreshold && !isAtBottom) {
                navbar.classList.remove('translate-y-0');
                navbar.classList.add('translate-y-full'); // slide out
            } else { // check for any upward scroll or being at the bottom
                // scrolling up or at the bottom of the page
                navbar.classList.remove('translate-y-full');
                navbar.classList.add('translate-y-0'); // slide in immediately on scroll up
            }
            lastScrollTop = currentScroll <= 0 ? 0 : currentScroll; // reset at the top to avoid negative values
        }, false);
    }

    // register service worker for offline support in PWA
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
            navigator.serviceWorker.register('{% url "sw" %}').then(function(registration) {
                // registration was successful
                console.log('ServiceWorker registration successful with scope: ', registration.scope);
            }, function(err) {
                // registration failed :(
                console.log('ServiceWorker registration failed: ', err);
            });
        });
    }
</script> 
</html>