{% extends 'base.html' %}
{% block title %}Update Team{% endblock %}
{% load static %}
{% block content %}
<div class="flex flex-col justify-center items-center px-4 pt-12">
    <div class="flex flex-row flex-wrap space-x-3 mx-3 mb-10 justify-center gap-4">
        <a href="javascript:history.back()">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="fill-teal-400 shadow-md h-12 w-12 border border-teal-400 rounded-2xl align-middle p-1 hover:bg-teal-100">
            <title>Back to Team</title>
            <g id="SVGRepo_bgCarrier" stroke-width="0"/>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
            <g id="SVGRepo_iconCarrier"> <path d="M4 10L3.29289 10.7071L2.58579 10L3.29289 9.29289L4 10ZM21 18C21 18.5523 20.5523 19 20 19C19.4477 19 19 18.5523 19 18L21 18ZM8.29289 15.7071L3.29289 10.7071L4.70711 9.29289L9.70711 14.2929L8.29289 15.7071ZM3.29289 9.29289L8.29289 4.29289L9.70711 5.70711L4.70711 10.7071L3.29289 9.29289ZM4 9L14 9L14 11L4 11L4 9ZM21 16L21 18L19 18L19 16L21 16ZM14 9C17.866 9 21 12.134 21 16L19 16C19 13.2386 16.7614 11 14 11L14 9Z" /> </g>
            </svg>
        </a>
        <h1 class="text-4xl md:text-5xl font-extrabold my-auto">Update Team Info</h1>
    </div>
    <form class="w-full space-y-4" action="{% url 'edit_team' team.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="flex flex-col md:flex-row md:space-x-4">
            <input type="text" name="name" placeholder="Team Name" value="{{ team.name }}" required autofocus class=" focus:border-teal-400 focus:outline-none focus:ring-0 px-4 py-2 my-2 border border-gray-300 rounded-2xl text-2xl w-full md:w-auto md:flex-grow h-14">
        </div>
        <input type="text" name="description" placeholder="Description" value="{{ team.description }}" required class="w-full p-2 h-14 border border-gray-300 rounded-2xl focus:border-teal-400 focus:outline-none focus:ring-0">
        <label class="h-auto {% if team.logo %}drag-over{% endif %} drag-drop flex justify-center px-4 py-8 my-2 border border-dashed border-gray-500 rounded-2xl cursor-pointer text-gray-500 bg-white hover:bg-gray-50">
            <input type="file" name="logo" id="fileInputEdit" class="hidden" accept="image/x-png,image/jpeg,image/gif,image/jpg,image/heic,image/heif,image/webp">
            <span id="imageDroppedEdit" class="inline-flex overflow-y-hidden">
                {% if team.logo %}
                    {{ team.logo }}
                {% else %}
                    Upload Image
                {% endif %}
            </span>
        </label>
        <div class="flex my-6 bg-rose-100 rounded-2xl p-4 w-fit mx-auto">
            <label class="cursor-pointer text-rose-700">
                <input type="checkbox" name="delete" class=" before:checked:bg-rose-700">
                Delete this team?
            </label>
        </div>
        <button type="submit" class="w-full h-14 p-2 font-extrabold border border-teal-500 rounded-2xl bg-teal-400 text-white hover:bg-teal-500">Update Team</button>
    </form>
</div>   
{% endblock %}

{% block scripts %}
<script>
// Script for drag and drop file upload handling
function initializeDragAndDrop() {
    if (document.getElementById('imageDroppedEdit') === null) return
    // DRAG AND DROG FILE UPLOAD
    const dropArea = document.querySelector('.drag-drop');
    const fileLabel = document.getElementById('imageDroppedEdit');
    const fileInput = document.getElementById('fileInputEdit');
    fileInput.addEventListener('change', function() {
        // Check if files were selected
        if (fileInput.files.length > 0) {
            // Update the label with the name of the first selected file
            fileLabel.textContent = fileInput.files[0].name;
            dropArea.classList.add('drag-over');
        }
    });

    // Highlight drop area when file is dragged over it
    ['dragenter', 'dragover'].forEach(eventName => {
        dropArea.addEventListener(eventName, highlight, false);
    });

    // Unhighlight drop area when dragging leaves it or drops
    ['dragleave', 'drop'].forEach(eventName => {
        dropArea.addEventListener(eventName, unhighlight, false);
    });

    // Prevent default behavior (prevent file from being opened)
    dropArea.addEventListener('dragover', preventDefaults, false);
    dropArea.addEventListener('dragenter', preventDefaults, false);
    dropArea.addEventListener('dragleave', preventDefaults, false);
    dropArea.addEventListener('drop', preventDefaults, false);

    // Handle dropped files
    dropArea.addEventListener('drop', handleDrop, false);

    function preventDefaults(e) {
        e.preventDefault();
        e.stopPropagation();
    }

    function highlight(e) {
        dropArea.classList.add('drag-over');
    }

    function unhighlight(e) {
        dropArea.classList.remove('drag-over');
    }

    function handleDrop(e) {
        const dt = e.dataTransfer;
        const files = dt.files;

        // Call a function to handle the files
        // For this example, we'll just pass it to the input
        fileInput.files = files;

        // Optionally, you can emit a change event on the input
        // if you need to trigger any 'change' event listeners
        const event = new Event('change', { bubbles: true });
        fileInput.dispatchEvent(event);
        fileLabel.innerText = files[0].name;
        dropArea.classList.add('drag-over');
    }
}

initializeDragAndDrop()
</script>
{% endblock %}
