{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="flex flex-col items-center h-screen">
    <h1 class="text-5xl font-bold text-center mt-12 mb-5">Activities</h1>
    {% for activity in activities %}
    <a href="{% url 'activity' activity.pk %}" class="p-4 m-2 bg-amber-50 border border-amber-100 rounded-xl w-full">{{ activity.title }}</a>
    {% endfor %}
    <a href="{% url 'logout' %}" class="absolute top-4 right-8 underline underline-offset-2">logout</a>
</div>

<a href="{% url 'add_activity' %}" class="fixed bottom-24 right-12 bg-amber-400 hover:bg-amber-600 text-white font-bold py-2 px-4 rounded-full shadow-lg flex items-center justify-center z-50">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
    </svg>
</a>

{% endblock %}