{% extends 'base.html' %}
{% load static %}
{% block title %}Leaderboard{% endblock %}

{% block content %}
<div class="flex flex-row flex-wrap items-center justify-center align-middle mx-3 gap-4 mb-6 pt-12">
    {% if selected_leaderboard %}
        <a href="javascript:history.back()">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="fill-teal-400 shadow-md h-12 w-12 border border-teal-400 rounded-2xl align-middle p-1 hover:bg-teal-100">
                <title>Back to Leaderboards</title>
                <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                <g id="SVGRepo_iconCarrier"> <path d="M4 10L3.29289 10.7071L2.58579 10L3.29289 9.29289L4 10ZM21 18C21 18.5523 20.5523 19 20 19C19.4477 19 19 18.5523 19 18L21 18ZM8.29289 15.7071L3.29289 10.7071L4.70711 9.29289L9.70711 14.2929L8.29289 15.7071ZM3.29289 9.29289L8.29289 4.29289L9.70711 5.70711L4.70711 10.7071L3.29289 9.29289ZM4 9L14 9L14 11L4 11L4 9ZM21 16L21 18L19 18L19 16L21 16ZM14 9C17.866 9 21 12.134 21 16L19 16C19 13.2386 16.7614 11 14 11L14 9Z" /> </g>
            </svg>
        </a>
    {% endif %}
    <h1 class="text-4xl md:text-5xl font-extrabold text-center">
        {% if request.GET.leaderboard_id %}
            {% for leaderboard in leaderboards %}
                {% if leaderboard.id|stringformat:"s" == request.GET.leaderboard_id %}
                    {{ leaderboard.leaderboard_name }} Leaderboard
                {% endif %}
            {% endfor %}
        {% else %}
            All Activities Leaderboard
        {% endif %}
    </h1>
    {% if selected_leaderboard and request.user.is_staff %}
        <a href="{% url 'edit_leaderboard' selected_leaderboard.id %}">
            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="shadow-md h-12 w-12 p-2 border border-teal-400 rounded-2xl align-middle hover:bg-teal-100">
                <title>Edit Leaderboard</title>
                <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                <g id="SVGRepo_iconCarrier"> <path d="M21.2799 6.40005L11.7399 15.94C10.7899 16.89 7.96987 17.33 7.33987 16.7C6.70987 16.07 7.13987 13.25 8.08987 12.3L17.6399 2.75002C17.8754 2.49308 18.1605 2.28654 18.4781 2.14284C18.7956 1.99914 19.139 1.92124 19.4875 1.9139C19.8359 1.90657 20.1823 1.96991 20.5056 2.10012C20.8289 2.23033 21.1225 2.42473 21.3686 2.67153C21.6147 2.91833 21.8083 3.21243 21.9376 3.53609C22.0669 3.85976 22.1294 4.20626 22.1211 4.55471C22.1128 4.90316 22.0339 5.24635 21.8894 5.5635C21.7448 5.88065 21.5375 6.16524 21.2799 6.40005V6.40005Z" stroke="#14b8a6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> <path d="M11 4H6C4.93913 4 3.92178 4.42142 3.17163 5.17157C2.42149 5.92172 2 6.93913 2 8V18C2 19.0609 2.42149 20.0783 3.17163 20.8284C3.92178 21.5786 4.93913 22 6 22H17C19.21 22 20 20.2 20 18V13" stroke="#14b8a6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </g>
            </svg>
        </a>
    {% endif %}
</div>

<!-- Filtering Form -->
<form hx-get="{% url 'leaderboard' %}" hx-push-url="true" hx-target=".htmx-body" hx-trigger="change" class="flex flex-col justify-center items-center gap-3 p-6 bg-teal-100 md:rounded-2xl md:max-w-4xl md:mx-auto">
    <div class="flex flex-row justify-center space-x-2">
        <!-- Leaderboard Type Filter -->
        <select aria-label="Leaderboard Type" name="leaderboard_id" class="flex-1 min-w-[50%] rounded-2xl h-11 border border-teal-500 focus:border-teal-500">
            <option value="" {% if not request.GET.leaderboard_id %}selected{% endif %}>All Activities</option>
            {% for leaderboard in leaderboards %}
                <option value="{{ leaderboard.id }}" {% if request.GET.leaderboard_id == leaderboard.id|stringformat:"s" %}selected{% endif %}>
                    {{ leaderboard.leaderboard_name }}
                </option>
            {% endfor %}
        </select>
    
        <!-- Date Filter -->
        <select aria-label="Time Range" name="date_filter" class="flex-1 min-w-[50%] rounded-2xl h-11 border border-teal-500 focus:border-teal-500">
            <option value="all_time" {% if request.GET.date_filter == "all_time" %}selected{% endif %}>All Time</option>
            <option value="this_year" {% if request.GET.date_filter == "this_year" %}selected{% endif %}>This Year</option>
            <option value="this_month" {% if request.GET.date_filter == "this_month" or not request.GET.date_filter %}selected{% endif %}>This Month</option>
        </select>
    </div>
    
    <!-- Toggle Buttons for Team and Individual Leaderboards -->
    <div class="mx-auto flex flex-row flex-nowrap space-x-0">
        <input type="radio" id="individual" name="leaderboard_mode" value="individual" {% if leaderboard_mode == "individual" %}checked{% endif %} class="hidden">
        <label for="individual" class="h-11 w-28 text-center cursor-pointer px-4 py-2.5 font-extrabold rounded-2xl rounded-r-none border border-teal-500 border-r-0 {% if leaderboard_mode == 'individual' %}bg-teal-400 text-white{% else %}text-stone-700 bg-white{% endif %}">Individual</label>
        <input type="radio" id="team" name="leaderboard_mode" value="team" {% if leaderboard_mode == "team" %}checked{% endif %} class="hidden">
        <label for="team" class="h-11 w-28 text-center cursor-pointer px-4 py-2.5 font-extrabold rounded-2xl rounded-l-none border border-teal-500 border-l-0 {% if leaderboard_mode == 'team' %}bg-teal-400 text-white{% else %}text-stone-700 bg-white{% endif %}">Team</label>
    </div>

</form>

<!-- Leaderboard Content -->
<div id="leaderboard" class="mt-6">
    <!-- This will be filled dynamically with HTMX or initial content if needed -->
    {% if leaderboard_mode == "team" %}
        {% include 'partials/team_leaderboard.html' %}
    {% else %}
        {% include 'partials/individual_leaderboard.html' %}
    {% endif %}
</div>
{% endblock %}