{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Teams</title>
    <link href="{% static 'css/tailwind.min.css' %}" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org" defer></script>
</head>
{% block content %}
<div class="container mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold text-center mb-8">Teams</h1>
    <a href="{% url 'create_team' %}" class="px-4 py-2 bg-blue-500 hover:bg-blue-700 rounded-lg text-white font-bold">Create a New Team</a>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for team in teams %}
        <div class="bg-white rounded-lg shadow-lg p-5 relative">
            <div class="flex justify-between items-center mb-2">
                <button onclick="togglePopup('{{ team.id }}')" class="font-semibold text-xl">{{ team.name }}</button>
                <form action="{% url 'join_team' %}" method="post" class="inline">
                    {% csrf_token %}
                    <input type="hidden" name="team_id" value="{{ team.id }}">
                    <button type="submit" class="px-4 py-2 bg-green-500 hover:bg-green-700 text-white font-bold rounded-lg">Join</button>
                </form>
            </div>
            <!-- Popup for team members -->
            <div id="popup-{{ team.id }}" class="hidden absolute top-full mt-2 left-0 bg-white border rounded shadow-lg p-4 z-10 w-64">
                <h3 class="font-semibold text-lg mb-2">Team Members:</h3>
                <ul>
                    {% for member in team.member.all %}
                    <li>{{ member.first_name }} {{ member.last_name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% empty %}
        <div class="col-span-3 text-center">
            <p>No teams found.</p>
        </div>
        {% endfor %}
    </div>
</div>

<script>
function togglePopup(teamId) {
    const popup = document.getElementById(`popup-${teamId}`);
    popup.classList.toggle('hidden');
}
</script>
{% endblock %}
