{% extends 'base.html' %}
{% block title %}Notifications{% endblock %}
{% block content %}
<h1 class="text-4xl md:text-5xl font-extrabold mb-6 pt-12 text-center">Notifications</h1>
<div class="space-y-4 mx-3">
    {% for notification in notifications %}
    <div class="p-4 bg-white shadow rounded-lg">
        <div class="font-bold">{{ notification.title }}</div>
        <p>{{ notification.body }}</p>
        <small>Received on: {{ notification.created_at }}</small>
    </div>
    {% empty %}
    <p>No notifications.</p>
    {% endfor %}
</div>
{% endblock %}

