{% extends 'base.html' %}
{% load static %}
{% block title %} Profile {% endblock %}
{% block content %}

<div class="flex flex-col items-center justify-center w-full mx-auto pt-12">
    <div class="relative mx-6 mb-6 border-4 border-rose-200 rounded-full max-w-96">
        <img src="{% if user.profile_picture %}{{ user.profile_picture }}{% else %}{% static 'icons/default_profile.svg' %}{% endif %}" alt="Profile Picture" class="w-40 h-40 m-1 rounded-full">
        {% if request.user == user %}
            <div class="absolute bottom-0 right-0 bg-rose-400 rounded-full hover:bg-rose-300">
                <div class="relative">
                    <button 
                        type="button" 
                        onclick="openActivityKebab();" 
                        class="kebab-button h-10 w-10 p-2 filter hover:contrast-200 align-middle" 
                        aria-expanded="true" 
                        aria-haspopup="true"
                        aria-label="Activity kebab menu"> 
                        <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="#ffffff" class="bi bi-three-dots-vertical" stroke="#ffffff">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                            <g id="SVGRepo_iconCarrier"> <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/> </g>
                        </svg>
                    </button>

                    <ul class="kebab-menu hidden absolute right-0 left-1/2 transform -translate-x-1/2 mt-1 bg-white cursor-pointer rounded-2xl border border-rose-300 shadow-md text-stone-600 font-bold z-10 w-auto min-w-max">
                        <li hx-get="{% url 'edit_profile' %}" hx-target=".htmx-body" hx-push-url="true" class="flex items-center hover:bg-rose-300 hover:text-white px-4 py-2 rounded-t-2xl">
                            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2 stroke-current">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                                <g id="SVGRepo_iconCarrier"> <path d="M21.2799 6.40005L11.7399 15.94C10.7899 16.89 7.96987 17.33 7.33987 16.7C6.70987 16.07 7.13987 13.25 8.08987 12.3L17.6399 2.75002C17.8754 2.49308 18.1605 2.28654 18.4781 2.14284C18.7956 1.99914 19.139 1.92124 19.4875 1.9139C19.8359 1.90657 20.1823 1.96991 20.5056 2.10012C20.8289 2.23033 21.1225 2.42473 21.3686 2.67153C21.6147 2.91833 21.8083 3.21243 21.9376 3.53609C22.0669 3.85976 22.1294 4.20626 22.1211 4.55471C22.1128 4.90316 22.0339 5.24635 21.8894 5.5635C21.7448 5.88065 21.5375 6.16524 21.2799 6.40005V6.40005Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> <path d="M11 4H6C4.93913 4 3.92178 4.42142 3.17163 5.17157C2.42149 5.92172 2 6.93913 2 8V18C2 19.0609 2.42149 20.0783 3.17163 20.8284C3.92178 21.5786 4.93913 22 6 22H17C19.21 22 20 20.2 20 18V13" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </g>
                            </svg>
                            <span>edit</span>
                        </li>
                        <li hx-post="{% url 'logout' %}" hx-confirm="Are you sure you want log out?" hx-target=".htmx-body" class="flex items-center hover:bg-rose-300 hover:text-white px-4 py-2 rounded-b-2xl">
                            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2 stroke-current">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                                <g id="SVGRepo_iconCarrier"> <path d="M9.00195 7C9.01406 4.82497 9.11051 3.64706 9.87889 2.87868C10.7576 2 12.1718 2 15.0002 2L16.0002 2C18.8286 2 20.2429 2 21.1215 2.87868C22.0002 3.75736 22.0002 5.17157 22.0002 8L22.0002 16C22.0002 18.8284 22.0002 20.2426 21.1215 21.1213C20.2429 22 18.8286 22 16.0002 22H15.0002C12.1718 22 10.7576 22 9.87889 21.1213C9.11051 20.3529 9.01406 19.175 9.00195 17" stroke-width="1.5" stroke-linecap="round"/> <path d="M15 12L2 12M2 12L5.5 9M2 12L5.5 15" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </g>
                            </svg>
                            <span>sign out</span>
                        </li>
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="flex items-center justify-center flex-col md:flex-row md:flex-wrap md:space-x-3 align-middle mx-3">
        <h1 class="font-extrabold text-4xl md:text-5xl">
            {{ user.first_name }} {{ user.last_name }}
        </h1>
        <h2 class="md:self-end font-extrabold text-xl md:text-2xl uppercase text-rose-700">{{ user.position }}</h2>
    </div>

    <p class="px-6 text-center font-bold text-lg">{{ user.team.name }}</p>
    <!-- Joinable Teams Button -->
    {% if request.user == user %}
        {% if team == None %}
            <a href="{% url 'list_teams' %}" class="bg-rose-400 hover:bg-rose-500 text-white font-bold py-2 px-4 my-3 rounded-2xl">Join a Team!</a>
        {% else %}
            <a href="{% url 'team_detail' team.id %}" class="bg-rose-400 hover:bg-rose-500 text-white font-bold py-2 px-4 my-3 rounded-2xl">View Team</a>
        {% endif %}
    {% endif %}

    {% if request.user == user %}
    <div class="flex flex-row justify-center items-center mt-4">
        <div class="flex flex-col border border-amber-300 rounded-2xl">
            <div class="text-center w-full font-extrabold text-xs rounded-t-2xl py-1 bg-amber-200 text-amber-700">BALANCE</div>
            <div class="flex  px-4 py-2 items-center space-x-2">
                <img src="{% static 'icons/coin.svg' %}" alt="Icon" class="w-7 h-7">
                <p class="text-2xl font-extrabold text-yellow-500">{{ user.balance }}</p>
            </div>
        </div>
    </div>
    {% endif %}

    <p class="px-6 mt-6 md:max-w-screen-lg md:text-center">{{ user.description }}</p>

    <p class="px-6 mt-6 text-center font-bold text-rose-700">Currently participating in:</p>
    {% if interested.all %}
        <div class="flex flex-col w-full mt-4 px-3 md:px-36">
            {% for activity in interested %}
                <div class="flex justify-between w-full border {% if activity.is_active %}border-rose-200 hover:bg-rose-50{% else %}border-stone-200 hover:bg-stone-50{% endif %} shadow-sm rounded-xl mb-2">
                    <span class="my-auto pl-4 {% if activity.is_active %}text-rose-400{% else %}text-stone-400{% endif %} font-bold uppercase text-xs">{{ activity.end_date | date:"m/j" }}</span>
                    <a href="{% url 'activity' activity.pk %}" class="flex-grow p-2 my-auto text-sm">{{ activity.title }}{% if not activity.is_active %}<span class="font-bold text-stone-400 text-xs"> (UNCLAIMED)</span>{% endif %}</a>
                    <div class="flex flex-row space-x-1 filter">
                        <img src="{% static 'icons/coin.svg' %}" alt="Coins" class="w-4 h-4 my-auto">
                        <p class="my-auto text-stone-amber text-xs">{{ activity.points }}</p>                     
                        <button hx-post="{% url 'leave_activity' activity.pk %}" 
                                hx-confirm="Are you sure you want to leave this activity?" 
                                hx-swap="outerHTML" 
                                hx-target=".htmx-body" 
                                class="p-2 hover:bg-white rounded-r-xl font-extrabold text-xs md:text-base {% if activity.is_active %}text-rose-300{% else %}text-stone-300{% endif %} w-10">
                            <span class="align-middle">✕</span>
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="px-6 mt-3 text-center text-sm font-bold text-stone-400">Not participating in any activities right now.</p>
    {% endif %}

    {% if participated %}
        <p class="px-6 mt-6 text-center font-bold text-rose-700">Lifetime points:</p>
        <div class="flex items-center px-4 py-2 mt-3 space-x-2 border border-stone-200 rounded-2xl">
            <img src="{% static 'icons/coin.svg' %}" alt="Coins" class="w-7 h-7">
            <p class="text-2xl font-extrabold text-stone-400">{{ user.lifetime_points }}</p>
        </div>
        <div id="past-activities" class="flex flex-col w-full mt-3 px-3 md:px-36">
            {% with activities=participated.all|slice:":5" %}
                {% include 'partials/additional_past_activities.html' %}
            {% endwith %}
        </div>
        {% if participated.all|length == 5 %}
            <div class="flex justify-center items-center pt-5">
                <button class="show-more-button font-semibold text-rose-400 text-sm" hx-get="{% url 'additional_past_activities' user.pk %}" hx-target="#past-activities" hx-swap="beforeend"  hx-on:htmx:after-request="this.remove()">Show all</button>
            </div>
        {% endif %}
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>
function openActivityKebab() {
    const menu = document.querySelector('.kebab-menu');
    const isMenuVisible = menu.style.display === 'block';
    // hide this menu
    document.querySelector('.kebab-menu').style.display = 'none';
    // toggle this menu
    menu.style.display = isMenuVisible ? 'none' : 'block';
    // close the menu when clicking outside
    document.addEventListener('click', function(event) {
        const isClickInsideKebab = event.target.closest('.kebab-button');
        if (!isClickInsideKebab) {
            document.querySelectorAll('.kebab-menu').forEach((menu) => {
                menu.style.display = 'none';
            });
        }
    });
}   
</script>
{% endblock %}